{% load static %}
{% load staticfiles %}

<!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Niedzwiedz 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
{#                        <li class="list-inline-item">#}
{#                            <a href="{% url 'maintenence' %}"><i class="fa fa-twitter"></i></a>#}
{#                        </li>#}
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/RestauracjaOdessa/"><i class="fa fa-facebook"></i></a>
                        </li>
{#                        <li class="list-inline-item">#}
{#                            <a href="{% url 'maintenence' %}"><i class="fa fa-linkedin"></i></a>#}
{#                        </li>#}
                    </ul>
                </div>
{#                <div class="col-md-4">#}
{#                    <ul class="list-inline quicklinks">#}
{#                        <li class="list-inline-item">#}
{#                            <a href="{% url 'maintenence' %}">Privacy Policy</a>#}
{#                        </li>#}
{#                        <li class="list-inline-item">#}
{#                            <a href="{% url 'maintenence' %}">Terms of Use</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
            </div>
        </div>
    </footer>